<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center w-100">
            
            <a class="navbar-brand" href="" >Producte App</a>

           
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto px-4">
               
                <li class="nav-item">
                    <a class="nav-link" routerLink="login" routerLinkActive="active-route">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="register" routerLinkActive="active-route">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="cart" >Cart</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{exact:true}" routerLink="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
                        routerLink="login">Login</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
                        routerLink="signup">
                        SignUp
                    </a>

                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
                        routerLink="cart">
                        cart
                    </a>
                </li>


              
            </ul>
          
        </div>
    </div>
</nav> -->